[*.{cpp,h,hlsl,hlsli}]
charset = utf-8
spelling_checkable_types = identifiers
spelling_languages = en_US, ja_JP
spelling_use_default_exclusion_dictionary = true
spelling_exclusion_path = ./exclusion.dic